<!--<div class="wrapper">
  <% if user_signed_in? %>
    <%= render "devise/registrations/new.html.erb" %>
  <% else %>  
    <%= render "devise/sessions/new.html.erb" %>
  <% end %>
</div> -->

<div class="wrapper">
  <%= render "side_bar" %>
</div>
